{% load static %}
<nav id="sidebar">
            <div class="sidebar--header" id="sidebar-header">
                        <img src="{% static 'img/user.png' %}" alt="user icon">
                        <p>Aqui va un nombre</p>
            </div>
            <ul class="list-unstyled sidebar--list" id="sidebar-list">
                        <li class="nav-item">
                                    <a class="sidebar--item" href="/ruta">
                                                <i class="fas fa-road fa-fw icon-sidebar"></i>
                                                <span class="sidebar--item-text">Preeliminar</span>
                                    </a>
                        </li>
                        <li>
                                    <a class="sidebar--item" href="/ruta/reconocimiento">
                                                <i class="fas fa-map-marker-alt fa-fw icon-sidebar"></i>
                                                <span class="sidebar--item-text">Reconocimiento</span>
                                    </a>
                        </li>
                        <li>
                                    <a class="sidebar--item" href="/ruta/topografia">
                                                <i class="fas fa-drafting-compass fa-fw icon-sidebar"></i>
                                                <span class="sidebar--item-text">Topografía</span>
                                    </a>
                        </li>
            </ul>
</nav>